*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
  color: #212e2a;
}

body {
  font-size: 15px;
  font-family: 'Montserrat', sans-serif;
}

.round {
  border-radius: 6px;
}

.bgImage {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
